<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
{{ partial "head" . }}
<body class="text-dark-blue-grey bg-light-blue-grey">
<div class="overflow-hidden">
  {{ partial "header" . }}
  <main class="my-0 mx-auto max-w-prose p-4">
    <!-- post -->
    <article class="pb-12" itemscope itemtype="http://schema.org/BlogPosting">
      {{ partial "single-header" . }}
      <div class="prose prose-slate prose-code:before:hidden prose-code:after:hidden">
        {{ .Content }}
        <hr/>
      </div>
    </article>
    <!-- /post -->
    {{ partial "single-nav" . }}
  </main>
  {{ partial "footer" . }}
</div>
{{ partial "js" . }}
</body>
</html>
