<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
{{ partial "head" . }}
<body>
<div id="wrap" class="wrap">
  {{ partial "header" . }}
  <main class="main main--single">
    <!-- post -->
    <article class="post"　itemscope itemtype="http://schema.org/BlogPosting">
      {{ partial "single-header" . }}
      <div class="post-content">
        {{ .Content }}
      </div>
    </article>
    <!-- /post -->
    <hr class="post-hr">
    {{ partial "single-nav" . }}
  </main>
  {{ partial "footer" . }}
</div>
{{ partial "js" . }}
</body>
</html>
