<div>
  <hr>
  <h2>Recipe: {{ .Get "name" }}</h2>
  <dl>
    <div class="flex">
      <dt class="after:content-[':'] mr-1">Total time</dt>
      <dd>{{ .Get "total-time" }}</dd>
    </div>
    <div class="flex">
      <dt class="after:content-[':'] mr-1">Active time</dt>
      <dd>{{ .Get "active-time" }}</dd>
    </div>
    {{ if (.Get "yield") }}
    <div class="flex">
      <dd class="after:content-[':'] mr-1">Yield</dd>
      <dt>{{ .Get "yield" }}</dt>
    </div>
    {{ end }}
    {{ if (.Get "credit") }}
    <div class="flex">
      <dd class="after:content-[':'] mr-1">Credit</dd>
      <dt>{{ .Get "credit" | markdownify }}</dt>
    </div>
    {{ end }}
  </dl>
  {{ .Inner }}
  {{ if not (eq (.Get "hr-after" ) "false") }}
  <hr>
  {{ end }}
</div>
