<!-- post-nav -->
<nav class="flex flex-col max-w-screen-sm mx-auto">
  <div class="flex justify-between flex-wrap pb-4">
    {{ if .NextInSection }}
    <a class="w-full text-left md:w-1/2 text-lg text-light-ocean-blue visited:text-dark-ocean-blue py-2"
       href="{{.NextInSection.Permalink}}">
      <span>Next:</span>
      <span class="underline">
                {{ .NextInSection.Title }}
              </span>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
    {{ if .PrevInSection }}
    <a class="w-full text-right md:w-1/2 text-lg text-light-ocean-blue visited:text-dark-ocean-blue py-2"
       href="{{.PrevInSection.Permalink}}">
      <span>Previous:</span>
      <span class="underline">
                {{ .PrevInSection.Title }}
              </span>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
  </div>
  <div class="flex justify-center pt-2">
    <a class="py-2 px-4 bg-hero-green text-lg font-bold text-dark-green" href="/">Home</a>
  </div>
</nav>
<!-- /post-nav -->
