<!-- post-nav -->
<nav class="post-nav">
  <ol class="pure-g">
    {{ if .NextInSection }}
      <li class="pure-u-1 pure-u-md-1-2 post-nav-prev">
        <a href="{{.NextInSection.Permalink}}">
              <span class="post-nav-label">Next<span>
              <span class="post-nav-title">
                {{ .NextInSection.Title }}
              </span>
        </a>
      </li>
    {{ else }}
      <li class="pure-u-1 pure-u-md-1-2 post-nav-prev">
      </li>
    {{ end }}
    {{ if .PrevInSection }}
      <li class="pure-u-1 pure-u-md-1-2 post-nav-next">
        <a href="{{.PrevInSection.Permalink}}">
          <span class="post-nav-label">Previous</span>
          <span class="post-nav-title">
                {{ .PrevInSection.Title }}
              </span>
        </a>
      </li>
    {{ else }}
      <li class="pure-u-1 pure-u-md-1-2 post-nav-next">
      </li>
    {{ end }}
  </ol>
  <div class="post-nav-back">
    <a class="pure-button" href="/">Back</a>
  </div>
</nav>
<!-- /post-nav -->
