<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
  <header>
    {{ partial "head.html" . }}
  </header>
	<main id="content" class="container">
		<section class="recent-posts">
      {{ if isset .Data "Term" }}
        <h2 class="section-header">Entries tagged - "{{.Data.Term}}"</h2>
      {{ else }}
        <h2 class="section-header">All articles</h2>
      {{ end }}

      <section class="posts">
        {{- range .Data.Pages -}}
        {{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
        {{- else -}}
        {{ partial "post_preview.html" . }}
        {{- end -}}
        {{- end -}}
      </section>
    </section>
  </main>

	{{ partial "footer.html" . }}
</body>

</html>
