@charset "UTF-8";

//===================================
// color
//===================================
$text-color-header: #00561A;
$text-color-subheading: #008C47;
$header-footer-bg: rgb(106, 244, 162);
$text-color-main: rgba(0, 0, 0, 0.84);
$text-color-main-light: rgba(0, 0, 0, 0.54);
$color-link: hsl(217, 71%, 53%);

//===================================
// font
//===================================
$font-family: "Open Sans", Helvetica, Arial, sans-serif;
