@charset "UTF-8";

.header {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.2em;
  text-align: center;
  background-color: $header-footer-bg;

  a {
    color: $text-color-header;
    text-decoration: none;
  }

  p {
    color: $text-color-subheading;
  }

  @include respond-to(laptop) {
    padding-bottom: 2em;
    padding-top: 1em;
    margin-bottom: 3em;
  }
}

.site-title {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
}

.search {
  margin: 0 auto;
  width: 300px;

  * {
    box-sizing: content-box;
    // font-size: 1rem;
  }
}
