div.recipe {
  margin-top: 0.2em;

  h2 {
    margin: 0.4em 0;
    border-left: 0;
    padding-left: 0;
    text-align: justify;
  }

  h3 {
    margin: 0.4em 0;
  }

  .active-time, .total-time, .credit, .yield {
    color: $text-color-main-light;
  }
}
