@charset "UTF-8";

.post,
.post-aside,
.post-nav {
  padding: 0 7.5%;

  @include respond-to(tablet) {
    padding: 0 5%;
  }
}

.post {
  color: #444;

  &__date {
    color: #c2c6cc;
    text-align: right;
  }
}

.post-content {
  margin-bottom: 3em;
  text-align: justify;

  img {
    border: 1px solid #eee;
    display: block;
    margin: 1em auto 1.5em;
    max-width: 100%;
  }

  p {
    margin-bottom: 1.5em;
  }

  h2,
  h3,
  h4 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  h2 {
    border-left: 5px solid $header-footer-bg;
    padding-left: .5em;
  }

  li + li {
    margin-top: .5em;
  }

  > p code,
  li code {
    border-radius: 3px;
    background-color: #f6f8fa;
    font-family: monospace, 'Courier New', Courier, Monaco;
    font-size: 90%;
    margin: 0 .2em;
    padding: 2px 4px;
  }

  blockquote {
    background-color: #ccc;
    font-style: italic;
    margin: 30px 0;
    padding: 30px;

    a {
      font-size: .8em;
    }
  }

  figure {
    margin-top: .5em;
    margin-bottom: 1.5em;
    figcaption {
      text-align: center;
      overflow-wrap: break-word;
      font-size: 80%;
    }
  }

  @include respond-to(tablet) {
    figure {
      margin-top: 1em;
      margin-bottom: 2em;
    }
    line-height: 1.4em;
    h2,
    h3,
    h4 {
      margin-top: 1.5em;
      margin-bottom: 2em;
    }
  }

  @include respond-to(laptop) {
    line-height: 1.6em;
    h2,
    h3,
    h4 {
      margin-bottom: 2.5em;
    }
  }
}

.post-hr {
  border-top: 1px solid #eee;
  margin: 25px auto;
}

.post-ad {
  margin: 10% auto 0;
  text-align: center;

  &__head {
    display: block;
    font-size: .8em;
  }

  &__body {
    display: inline-block;
  }
}

.post-nav {
  ol {
    padding: 0;
  }

  a {
    font-family: $font-family;
    font-size: 1em;
    text-decoration: none;
  }
}

.post-nav-label {
  display: block;
  font-weight: bold;
}

.post-nav-title {
  text-decoration: underline;
}

.post-nav-prev {
  padding-right: 2.5%;
}

.post-nav-next {
  padding-left: 2.5%;
  text-align: right;
}

.post-nav-back {
  text-align: center;
}
